@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-neutral-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
main{
  min-height: calc(100vh - 160px);
}
.stars {
  position: relative;
  cursor: pointer;
  height: 30px;
  display: flex;
  gap: 4px;
}
.star {
  height: 33px;
  width: 33px;
}
.small-star,
.star {
  background-image: url("./assets/Star-mask.svg");
  background-repeat: no-repeat;
  transition: background-image 0.2s ease;
  background-size: contain;

}
.small-star {
  background-size: contain;
}
.star:hover,
.star-filled {
  background-image: url("./assets/Star-filled.svg");
}
.star:has(~ .star:hover) {
  background-image: url("./assets/Star-filled.svg");
}
.star:hover ~ .star-filled {
  background-image: url("./assets/Star-mask.svg");
}
